@tab-radius: 3px;
@modified-icon-width: 8px;
@tab-skew: 30deg;
@tab-top-padding: 5px;
@tab-bottom-border-height: 8px;
@tab-border: 1px solid @tab-border-color;
@tab-bar-bottom-border-color: #111;

.tab-bar {

  & {
    height: @tab-height;
    padding: 0;
    background: @tab-bar-background-color;
  }

  .tab {
    padding-left: 15px !important;
    display: inline-block;
    position: relative;
    height: @tab-height;
    line-height: @tab-height;
    color: desaturate(lighten(@tab-background-color,40%),5%);
    background: @tab-background-color;
    margin-right: 2px;
    transition: color .2s;

    &:before {
      display: none;
    }

    .close-icon {
      z-index: 3;
      line-height: @tab-height;
      &:before {
        background: rgba(255,255,255,0.1);
        color: #191D21;
        padding: 1px;
        text-align: center;
        border-radius: 10px;
        transition: background .2s;
      }
      &:hover:before {
        background: rgba(255,255,255,0.2);
      }
    }
    &.modified:not(:hover) .close-icon {
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      right: 14px;
      width: @modified-icon-width;
      height: @modified-icon-width;
      &:before {
        display: none;
      }
    }

    .title {
      font-size: 12px;
    }

  }

  .tab.active {
    z-index: 10;
    line-height: @tab-height - 3px;
    color: @text-color-highlight;

    background-color: @tab-background-color-active;
    //box-shadow: inset -1px 1px 0 @tab-border-color, 4px -4px 4px rgba(0,0,0,.1);
    border: none;

    .title {
      position: relative;
      top: 1px;
    }

  }

  .tab:hover {
    background-color: @tab-background-color-hover;
    color: desaturate(lighten(@tab-background-color,70%),5%);
  }

  .tab.active:hover {
    background-color: @tab-background-color-active;
    color: @text-color-highlight;
  }

  .tab.active:hover .close-icon {
    color: @text-color-highlight;
  }

  .placeholder {
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    &:after {
      top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    }
  }
}
