.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;
  padding: @tree-view-padding;

  .selected:before {
  	background: darken(@base-tone,5%);
    box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
  }
}

.focusable-panel {
  //opacity: .5;
  background: @tree-view-background-color;
  box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
  transition: opacity .2s;

  &:hover,
  &:focus {
    //background: darken(@base-tone,10%);
    opacity: 1;

    .selected:before {
      //background: darken(@base-tone,5%);
    }

    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: #fff !important;
    }
  }
}
